<h1 >Appatizer</h1>
<div id="Appatizer">

<div class="cards">
  <div class="card">
    <img class="card__image" src="../assets/Food/1.jpg" alt="">
    <div class="card__content">
      <p>

FIRE CRACKER SHRIMP
      </p>
      <p>
       Flash Fried Shrimp covered in our fire cracker sauce
      </p>
    </div>
    <div class="card__info">
      <div>
        <i class="material-icons">thumb_up</i>310
      </div><div>
        <button mat-button >Add to Cart</button>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="../assets/Food/2.jpg" alt="">
    <div class="card__content">
      <p>
          CALAMARI
      </p>
      <p>
        Lightly fried fresh calamari served in an Asiago cheese bowl
      </p>
    </div>
    <div class="card__info">
      <div>
        <i class="material-icons">thumb_up</i>1,993
      </div>
      <div>
        <button mat-button >Add to Cart</button>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="../assets/Food/3.jpg" alt="">
    <div class="card__content">
      <p>
       LITTLE NECK STEAMERS
      </p>
      <p>
      10 Long Island little necks skillet-steamed in a bath of special broth. Served with drawn butter
      </p>
    </div>
    <div class="card__info">
      <div>
        <i class="material-icons">thumb_up</i>887
      </div>
      <div>
        <button mat-button >Add to Cart</button>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="../assets/Food/4.jpg" alt="">
    <div class="card__content">
      <p>
       PAN SEARED AHI TUNA
      </p>
      <p>
        Seared white and black sesame encrusted tuna served with ginger, wasabi & Asian vinaigrette
      </p>
    </div>
    <div class="card__info">
      <div>
        <i class="material-icons">thumb_up</i>2,512
      </div>
      <div>
        <button mat-button >Add to Cart</button>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="../assets/Food/5.jpg" alt="">
    <div class="card__content">
      <p>
        MUSSELS SAMBUCA
      </p>
      <p>
        Prince Edward Island mussels sauteed in white wine,
      </p>
    </div>
    <div class="card__info">
      <div>
        <i class="material-icons">thumb_up</i>140
      </div>
      <div>
        <button mat-button >Add to Cart</button>
      </div>
    </div>
  </div>
</div>
</div>


<h1 >Salads</h1>
<div id="Salads">

<div class="cards">
  <div class="card">
    <img class="card__image" src="../assets/Food/sa1.jpg" alt="">
    <div class="card__content">
      <p>

      CHICAGO WEDGE SIDE SALAD
      </p>
      <p>
       Flash Fried Shrimp covered in our fire cracker sauce
      </p>
    </div>
    <div class="card__info">
      <div>
        <i class="material-icons">thumb_up</i>310
      </div><div>
        <button mat-button >Add to Cart</button>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="../assets/Food/sa2.jpg" alt="">
    <div class="card__content">
      <p>
          FRESH GREENS SIDE SALAD
      </p>
      <p>
        Lightly fried fresh calamari served in an Asiago cheese bowl
      </p>
    </div>
    <div class="card__info">
      <div>
        <i class="material-icons">thumb_up</i>1,993
      </div>
      <div>
        <button mat-button >Add to Cart</button>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="../assets/Food/sa3.jpg" alt="">
    <div class="card__content">
      <p>
      FIRE ROASTED BEET
      </p>
      <p>
      10 Long Island little necks skillet-steamed in a bath
      </p>
    </div>
    <div class="card__info">
      <div>
        <i class="material-icons">thumb_up</i>887
      </div>
      <div>
        <button mat-button >Add to Cart</button>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="../assets/Food/sa4.jpg" alt="">
    <div class="card__content">
      <p>
       GOAT CHEESE SIDE SALAD
      </p>
      <p>
        Seared white and black sesame encrusted tuna served with ginger, wasabi & Asian vinaigrette
      </p>
    </div>
    <div class="card__info">
      <div>
        <i class="material-icons">thumb_up</i>2,512
      </div>
      <div>
        <button mat-button >Add to Cart</button>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="../assets/Food/5.jpg" alt="">
    <div class="card__content">
      <p>
        MUSSELS SAMBUCA
      </p>
      <p>
        Prince Edward Island mussels sauteed in white wine,
      </p>
    </div>
    <div class="card__info">
      <div>
        <i class="material-icons">thumb_up</i>140
      </div>
      <div>
        <button mat-button >Add to Cart</button>
      </div>
    </div>
  </div>
</div>
</div>







<h1 >Soup</h1>
<div id="Soup">

<div class="cards">
  <div class="card">
    <img class="card__image" src="../assets/Food/s1.jpg" alt="">
    <div class="card__content">
      <p>
            BAKED FRENCH ONION SOUP
      </p>
      <p>
       Long hours of simmering to perfection, covered with a blend of European cheeses.
      </p>
    </div>
    <div class="card__info">
      <div>
        <i class="material-icons">thumb_up</i>310
      </div><div>
        <button mat-button >Add to Cart</button>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="../assets/Food/s2.jpg" alt="">
    <div class="card__content">
      <p>
         SEASONAL SOUP OF THE DAY
      </p>
      <p>
      All our soups are made from scratch daily with our very own slow simmered stocks
      </p>
    </div>
    <div class="card__info">
      <div>
        <i class="material-icons">thumb_up</i>1,993
      </div>
      <div>
        <button mat-button >Add to Cart</button>
      </div>
    </div>
  </div>



