body{
  height:100%;
  background-color: whitesmoke;
  justify-content: space-between;
}
img {
  background-size: 100% auto;
  display: inline-block;
  width:100%;
  margin-top: auto;
  z-index: -1;

}

